---
import { Image } from "astro:assets";

import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";

import WebIconImg from "@assets/images/web-icon.png";
import RightArrowImg from "@assets/images/right-arrow.png";
import MobileIconImg from "@assets/images/mobile-icon.png";
import UiIconImg from "@assets/images/ui-icon.png";
import GraphicsIconImg from "@assets/images/graphics-icon.png";
---

<SectionContainer id="services">
  <TitleSection
    title="My services"
    subtitle="What i offer"
    description="I am fronted develop from Ecuador with 3 year of experience in multiple companies like Microsoft, Tesla and Apple"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 my-10">
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-[4px_4px_0px_#000] cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500"
    >
      <Image src={WebIconImg} alt="web icon" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700">Web design</h3>
      <p class="text-sm text-gray-600 leading-5">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more<Image src={RightArrowImg} alt="right arrow" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-[4px_4px_0px_#000] cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500"
    >
      <Image src={MobileIconImg} alt="web icon" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700">Mobile app</h3>
      <p class="text-sm text-gray-600 leading-5">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more<Image src={RightArrowImg} alt="right arrow" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-[4px_4px_0px_#000] cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500"
    >
      <Image src={UiIconImg} alt="web icon" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700">UI/ UX design</h3>
      <p class="text-sm text-gray-600 leading-5">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more<Image src={RightArrowImg} alt="right arrow" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-[4px_4px_0px_#000] cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500"
    >
      <Image src={GraphicsIconImg} alt="web icon" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700">Graphics design</h3>
      <p class="text-sm text-gray-600 leading-5">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more<Image src={RightArrowImg} alt="right arrow" class="w-4" /></a
      >
    </div>
  </div>
</SectionContainer>
