---
import "../styles/global.css";

import "@fontsource-variable/onest";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}
const {
  title = "Jonnathan Espinoza's Portfolio - Web Developer and Programmer",
  description = "Jonnathan Espinoza's Portfolio - Web Developer and Programmer",
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <meta name="description" content={description} />
    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Required -->
    <title>{title}</title>
  </head>
  <body class="">
    <div class="fixed top-0 right-0 w-11/12 -z-10 translate-y-[-80%]">
      <img src="/images/header-bg-color.png" alt="" class="w-full" />
    </div>
    <Header />
    <slot />
  </body>
</html>
<!-- 
<style>
  /* html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  } */
  /* https://youtu.be/HEMvsJTBweY?t=3933 */
  body {
    display: flex;
    justify-content: center;
  }
</style> -->
